---
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";

const { title = "Mi Web" } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
  </head>
  <body class="bg-gray-900 text-white min-h-screen flex flex-col">
    <Navbar />
    <main class="flex-1 px-6 py-12 max-w-7xl mx-auto">
      <slot />
    </main>
  </body>
</html>
