---
---
<nav class="bg-gray-600  shadow-md sticky top-0 z-50  transition-transform duration-300 shadow-lg">
  <div class="max-w-7xl mx-auto px-4 py-4 flex justify-between items-center">
    <!-- Logo / Título -->
    <a href="/" class="text-3xl font-extrabold text-cyan-400 hover:scale-105 transition-transform duration-300">
      Top Web
    </a>

    <!-- Enlaces de navegación -->
    <ul class="flex space-x-6">
      <li>
        <a
          href="/"
          class="text-lg text-gray-200 hover:text-cyan-300 transition duration-300 hover:scale-110 inline-block"
        >
          Inicio
        </a>
      </li>
      <li>
        <a
          href="/hector"
          class="text-lg text-gray-200 hover:text-cyan-300 transition duration-300 hover:scale-110 inline-block"
        >
          Héctor
        </a>
      </li>
      <li>
        <a
          href="/about"
          class="text-lg text-gray-200 hover:text-cyan-300 transition duration-300 hover:scale-110 inline-block"
        >
          Nosotros
        </a>
      </li>
      <li>
        <a
          href="/contact"
          class="text-lg text-gray-200 hover:text-cyan-300 transition duration-300 hover:scale-130 inline-block"
        >
          Contactos
        </a>
      </li>
    </ul>
  </div>
</nav>
